
<div class="container">
    <div class="row">
        <div class="col-sm-6 mt-4">
            <button type="button" (click)="showCompo ='payment'" class="btn"
             [ngClass]="{'btn-primary': showCompo =='payment', 'btn-secondary': showCompo =='cipher'}">Payment Gateway </button>
            <button type="button" (click)="showCompo ='cipher'" class="btn ms-2" [ngClass]="{'btn-primary': showCompo =='cipher', 'btn-secondary': showCompo =='payment'}" >Cipher </button>
        </div>
        <div class="col-sm-12">
            <div [ngSwitch] = "showCompo">
                <app-payment *ngSwitchCase="'payment'"></app-payment>            
                <app-cipher *ngSwitchCase="'cipher'"></app-cipher>
            </div>
        </div>
    </div>
</div>

